@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap");

* {
    font-family: "Rubik", sans-serif;
}

.info-guest {
    color: #fff;
}

.formulario-cadastrar-role {
    color: #fff;
    border: 1px solid #ff00aa;
}

.formulario {
    border: 1px solid #ff00aa;
}

.msg {
    background-color: #690164;
    border: 1px solid #ff00b3;
    color: #ffdff4;
    text-align: center;
}

li,
a {
    text-decoration: none;
}

.tabela-ajustada-css {
    color: #fff;
    text-align: center;
}

.tabela-ajustada-css-2 {
    color: #fff;
    text-align: center;
}

header {
    border-bottom: 1px solid #ff00aa;
}

body {
    background-color: #33002f;
}

.navbar-class {
    background-color: #5e0056;
}

.navbar-class a,
li,
ul {
    color: #fff;
}

.nav-item a:hover {
    color: #ff00aa;
    background-color: #29011c;
}